/* CARDS */
.card {
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 600;
}

.card-header {
    border-bottom: 1px solid rgb(0, 0, 0);
    color: #29273b;
    background: #ffffff;
}

.card-title {
    color: #29273b;
} 

.card-body {
    background: #ffffff;
}


/* BARRA DE NAVEGACIÓN Y FILTROS */
.container-button-filter .button-card {
    width: 20%;
}


/* MEDIA QUERYS */

@media only screen and (max-width: 1199px) {
    .table-general tr {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    

    .table-general td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }

    .table-general td[data-titulo]::before {
        content: attr(data-titulo);
        font-weight: bold;
        margin-right: 2em;
    }

    .table-general thead {
        display: none;
    }

    .buttons-table-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 576px) {
    .card {
        border: none;
    }

    .card-header {
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table-general tr {
        padding: 0.3em;
    }

    .table-general td {
        padding: 0.3em;
        font-size: 0.6em;
    }

    .table-general td[data-titulo]::before {
        margin-right: 0.5em;
    }

    .button-table {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 576px) {
    .card-header {
        border-bottom: 1px solid rgb(0, 0, 0);
    }
}

@media only screen and (max-width: 767px) {
    .form-row {
        display: flex;
        flex-direction: column;
    }

    .container-button-filter .button-card {
        width: 100%;
    }

}
