/* CONTENEDOR */
.jumbotron {
    background: -webkit-linear-gradient(to right, #A7BFE8, #5586e0);
    background: linear-gradient(to right, #A7BFE8, #5586e0);
}

.titulo-jumbo {
    font-weight: 100;

}

.subtitulo-jumbo {
    font-weight: 400;
}
