@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30, #243B55);
    background: linear-gradient(to right, #243B55, #141E30, #141E30);
}

header {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 50;
}

header a span {
    color: #a7bfe1;
    border-radius: 20%;
    background: transparent;
}

.container-main {
    position: absolute;
    background: transparent;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #a7bfe1;
    border-radius: 3%;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.container-main img {
    position: absolute;
    width: 100px;
    left: 50%;  
    transform: translate(-50%, -150%);
}

.login-sector {
    width: 100%;
    padding: 40px;
}

.login-sector h2 {
    font-size: 2em;
    color: #a7bfe1;
    text-align: center;
    margin: 10px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #a7bfe1;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #a7bfe1;
    font-weight: 500;
    pointer-events: none;
    top: -17px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #a7bfe1;
    font-size: 1em;
    color: #a7bfe1;
    font-weight: 300;
    padding: 0 35px 0 5px;
} 

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.4em;
    color: #a7bfe1;
    line-height: 57px;
}

.btn-login {
    width: 50%;
    transform: translateX(50%);
    height: 45px;
    background: transparent;
    border: .3px solid #a7bfe1;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #a7bfe1;
    transition: .3s;
}

.btn-login:hover {
    background: #a7bfe1;
    color: #302b63;
}

.register-link {
    font-size: .8em;
    font-weight: 300;
    text-align: center;
    color: #a7bfe1;
    margin: 20px;
}

.register-link p a {
    color: #a7bfe1;
    text-decoration: none;
    font-weight: 500;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .container-main {
        width: 80%;
        max-width: 400px;
        height: 450px;
    }

    .container-main img {
        width: 80px;
    }

    .login-sector h2 {
        font-size: 1.5rem;
    }

    .input-box label {
        top: -9px;
    }
    .input-box input, .input-box label {
        font-size: 0.8rem;
    }

    .input-box .icon {
        font-size: 1rem;
    }

    .btn-login {
        font-size: 0.9rem;
        height: 35px;
    }

    .register-link p a b, .register-link p {
        font-size: .9em;
    }
}

@media screen and (max-width: 576px) {
    .container-main img {
        width: 70px;
    }

    .login-sector h2 {
        font-size: 1.2rem;
    }

    .input-box label {
        top: -8px;
    }
    .input-box input, .input-box label {
        font-size: 0.7rem;
    }

    .input-box .icon {
        font-size: 0.8rem;
    }

    .btn-login {
        font-size: 0.8rem;
        height: 35px;
    }

    .register-link p a b, .register-link p {
        font-size: .8em;
    }
}