.accordion-item {
    background-color: transparent !important;
  }

  .accordion-button {
    background-color: transparent !important;
    color: #a7bfe1 !important;
  }

  .text-info {
    background-color: transparent !important;
    color: #a7bfe1 !important;
  }

  .accordion-body {
    background-color: transparent !important;
    color: #a7bfe1 !important;
  }

  .accordion-button:focus {
    box-shadow: none
  }